article.article-content {

	header {
		margin: 60px 0;
	}

	section.content {

		h2 {
			color: $main-light-blue;
		}

		p {
			color: #333;
			font-family: $arial-font-stack;
		}
	}
}


@media screen and (max-width: $sm-screen-max-width){
	article.article-content {
		section.content {
			h2 {
				margin: 25px 0 10px 0;
				font-size: 24px;
			}

			p {
				font-size: 18px;
			}
		}
	}
} 

@media screen and (min-width: $md-screen-min-width) and (max-width: $md-screen-max-width) {
	article.article-content {
		section.content {
			h2 {
				margin: 35px 0 15px 0;
				font-size: 27px;
			}

			p {
				font-size: 21px;
			}
		}
	}
}

@media screen and (min-width: $lg-screen-min-width) {
	article.article-content {
		section.content {
			h2 {
				margin: 50px 0 25px 0;
				font-size: 32px;
			}

			p {
				font-size: 23px;
			}
		}
	}
}
