#react-root {
	.first-wrapper {
		.articles-content {
			padding: 0 15px;
			header {
				margin-top: 20px;
			}
			.article-list {
				margin-top: 20px;
				.article {
					height: 430px;

					.article-image{
						width: 100%;
						height: 100%;
						max-height: 207px;
					}
					
					.text-container {	
						h3 {
							color: #333;
							margin: 14px 0;
							font-family: $georgia-font-stack;
							font-size: 27px;
							line-height: 26px;
							a {
								color: inherit;
							}
						}
						.text-intro {
							font-size: 15px;
							line-height: 18px;
						}
						.date { 
							margin-top: 30px;
							text-transform: uppercase;
							font-size: 13px;
							font-weight: 600;
						}
					}
				} /* end of article */
			}
		}
	}
}

@media screen and (max-width: $sm-screen-max-width){
	.articles-content {
		padding: 0 10px !important; /*hack padding should be zero*/
		header {
			padding: 0 5px;
		}
		.article-list{
			.article {
				padding: 0;
				margin-top: 20px;
				border-bottom: 1px solid #ccc;

				&:last-of-type {
					border-bottom: none;
				}

				.text-container {
					padding: 0 10px;
					
					h3 {
						font-size: 24px;
					}				
				}
			}
		}	
	}
}			 

@media screen and (min-width: $md-screen-min-width) and (max-width: $md-screen-max-width) {
	.articles-content {
		.article-list{
			.article {
				margin-top: 30px;

				&:first-of-type, &:nth-of-type(2) {
					margin-top: 0px;
				}

				&:nth-child(2n+1){
					padding-right: 22px;
					border-right: 1px solid #ccc;
				}

				&:nth-child(2n+2){
					padding-left: 22px;
				}
			}
		}	
	}
}

@media screen and (min-width: $lg-screen-min-width) {
	.articles-content {
		.article-list{
			.article {
				margin-top: 30px;

				&:first-of-type, &:nth-of-type(2), &:nth-of-type(3){
					margin-top: 0;
				}

				&:nth-child(3n+1){
					padding-right: 22px;
				}

				&:nth-child(3n+2){
					padding-left: 22px;
					padding-right: 22px;
					border: 1px solid #ccc;
					border-top: none;
					border-bottom: none;
				}

				&:nth-child(3n+3){
					padding-left: 22px;
				}
			}
		}	
	}
}
