.alert-container {
	position: fixed; 
	top: 30px; 
	z-index: 1000; 
	left: 50%; 
	transform: translateX(-50%);
	color: white;
	width: 70%;
	text-align: center;
	padding: 20px 0;
	max-width: 1080px;
	border-width: 2px;
	border-style: solid;

	&.error { 
		color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
	}
	
	&.success { 
		color: #3c763d;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}

}
