@import 'foundation.min.scss';

@import 'components/react-datepicker.scss';
@import 'components/slider.scss';
@import 'alert.scss';
@import 'react-simple-dropdown.scss';
@import 'rc-time-picker';


@import 'fonts.scss';
@import 'variables.scss';
@import 'classes.scss';
@import 'mixins.scss';

@import 'navbar.scss';
@import 'footer.scss';

@import 'home.scss';
@import 'properties/index.scss';
@import 'properties/show.scss';
@import 'properties/layout.scss';
@import 'properties/new.scss';
@import 'articles/index.scss';
@import 'articles/show.scss';
@import 'articles/article.scss';
@import 'quotes.scss';
@import 'dashboard.scss';
@import 'clients.scss';
@import 'publications.scss';
@import 'sessions/new.scss';
@import 'photos.scss';
@import 'services.scss';



html, body {
	width: 100%;
	height: 100%;
}

body {
	min-width: 320px;
	font-family: $roboto-font-stack;
}

.main-container {
	margin-top: 100px;

	img {
		max-width: 400px;
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: block;
	}

	p {
		font-size: 20px;
		text-align: center;
	}
}

.price,
.space-configuration,
.usable-surface,
.rentable-surface,
.storage-rooms,
.parking-spots,
.number-of-units {
	font-weight: 600;
	color: #333;
}

.price {
	.approx {
		font-weight: 600;
		color: #555;
	}
}

.date {
	color: #999;
}

.s-alert-wrapper {
	.s-alert-box {
		width: 80%;
		margin: 0 auto;
		margin-top: 80px;
	}
}

.notice {
	background-color: $main-light-blue;
	color: white;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px;
}

.flash-messages {
	display: none;
}

span.label {
	margin-right: 6px;
	font-size: 10px;
	&.primary {
		background-color: $main-light-blue;
	}

	&.discount {
		background-color: $main-red;
	}
}

.language-selector {
	display: flex;
	height: 100%; 
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #333;

	div {
		align-items: center;
		text-align: center;
	}

	.header {
		flex: 4;
		font-size: 30px;
		p {
			line-height: 0.7;
			margin-top: -20px;
		}
	}

	.languages {
		flex: 2;
		font-size: 40px;
		margin-bottom: 20px;
		text-decoration: underline;
		
		a { 
			display: block;
			color: $main-dark-blue;
		}
	}
}
