.force-line-break {
  white-space: pre-line;
}

.no-padding {
	padding: 0;
}

.page-main-header {
	h1 {
		//resets foundation margins
		margin: 0;
		font-size: 44px;
		font-weight: 300;
		text-transform: capitalize;
		color: $main-dark-blue;	
		font-family: $roboto-font-stack;
	}
}

.navigation-menu {
	* {
		color: $navigation-icons-color;	
	}
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.section-title {
	font-family: $arial-font-stack;
	text-transform: uppercase;
	font-weight: 600;
	color: $main-red;
	font-size: 28px;
}

@media screen and (max-width: $sm-screen-max-width){
	.desktop-only {
		display: none;
	}
}

@media screen and (min-width: $md-screen-min-width){
	.mobile-only {
		display: none;
	}
}

.layout-container {
	position: relative;

	width: 600px;
	height: 400px;

	* {
		position: absolute;
	}

	span {
		display: none;
		background-color: white;
		padding: 5px;
	}

	&.preview {
		span {
			display: block;
		}
	}
}

.layout-one {
	div:nth-of-type(1){
		width: 50%;
		height: 100%;
		left: 0;
		top: 0;
		border-right: 2px solid white;
	}

	div:nth-of-type(2){
		width: 50%;
		height: 50%;
		right: 0;
		top: 0;
		border-bottom: 2px solid white;
	}

	div:nth-of-type(3){
		width: 50%;
		height: 50%;
		right: 0;
		bottom: 0;
	}

	div:nth-of-type(n+4){
		display: none;
	}
}
