.client-list {
	.client {
		border: 1px solid #ccc;

		margin: 40px 0;
		border-radius: 4px;

		div:nth-child(even){
			background-color: #eee;
		}

		div:nth-child(odd){
			background-color: white;
		}

		div {
			padding: 18px 12px;

			span {
				font-weight: 600;
			}
		}
	}
}
