.dashboard-content { 
	background-color: #f0f0f0;
	height: 100%;	
}

.dashboard-element {
	background-color: white;
	padding: 20px;
	border: 1px solid #ddd;
}

.positive-element {
	color: #4caf50;
}

.negative-element {
	color: #f44336;
}

.neutral-element {
	color: $main-light-blue;
}

.property-wallet-summary-el {
	font-size: 30px;
}

.private-navbar {
	color: white;
	background-color: $main-dark-blue;
	height: 100%;
	width: auto;

	.heading {
		font-size: 60px;	
		padding: 0 10px;
	}

	div.link-btn {
		padding: 10px 20px;
		&:hover {
			background-color: $main-light-blue;
		}
		a {
			display: block;
			width: 100%; 
			color: white 
		}
	}
}

.property-layout {

	.property-header {
		margin-top: 20px;
		font-size: 50px;
		color: $main-dark-blue;
	}


	.hint { color: #666; font-size: 14px }
}

.property-table {
	
	.code { 
		font-size: 40px; 
		font-weight: 500;
	}
	
	.row {
		padding: 10px 0;
		border-top: 1px solid #ccc;
		
		&:first-of-type { border-top: none; } 
		
		div:first-of-type {
			font-weight: 600;
		}
	} 
}

.property-navbar {
	color: $main-light-blue;
	display: inline-flex;
	width: 100%;
	justify-content: space-evenly;
	font-size: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc; 
}

.copy-btn {
	i {
		margin-left: 5px;
		cursor: pointer;
		color: $main-dark-blue;
		font-size: 20px;
	}
}