#react-root {
	footer {
		margin-top: 50px;
		padding: 0;

		.address, .copyright {
			text-align: center;
			background-color: #e4e4e4;
			color: #666;		
		}

		.address {
			padding-top: 30px;
			padding-bottom: 7.5px;
			font-weight: 600;
		}

		.copyright {
			padding-bottom: 30px;
			padding-top: 7.5px;
		}

		.disclaimer {
			background-color: #eaeaea;
			color: #999;
			font-size: 11px;
			padding: 30px;
		}
	}
}
