#react-root {
	width: 100%;
	height: 100%;

	.first-wrapper.home {
		width: 100%;
		height: 100%;

		.get-quote-row {
			background-color: $main-light-blue;
			color: white;
			text-align: center;
			padding: 80px 0;
			margin: 30px 0;

			h2 {
				font-family: $georgia-font-stack;
				font-size: 60px;
			}

			div {
				font-size: 22px;
				margin-bottom: 50px;
			}

			a {
				background-color: $main-red;
				padding: 16px 50px;
				font-size: 24px;
			}
		}	

		.logo-and-intro-row {
			background-image: url("http://i.imgur.com/vLSpBIg.jpg");
			background-size: cover;
			background-position: center center;
			min-height: 600px;

			.main-finder {
				.find-by-btn {
					background-color: rgba(0, 0, 0, 0.6);
					font-size: 16px;
					color: white;
					cursor: pointer;
					padding: 4px 6px;
					text-align: center;
					width: fit-content;
				}

			}

			h1 {
				text-shadow: 0 1px 2px #000,0 1px 25px rgba(0,0,0,0.8);
				text-align: center;
				margin: 80px 0 50px 0;
				color: white;
			}

			> div {

				button {
				  background-color: $main-red;
					width: 100%;
				}
			}
		}

		.just-listed-row {

			margin-top: 60px;

			.title, .sub-title {
				text-align: center;
			}

			.title {
				font-family: $georgia-font-stack;
				font-size: 40px;
			}

			.sub-title {
				font-family: $arial-font-stack;
				font-size: 20px;
				margin-bottom: 30px;
			}

			.preview-container {
				.listing-preview {
					margin-bottom: 30px;
					cursor: pointer;
					position: relative;
					display: block;

					.summary { 
						position: absolute;
						bottom: 10px;
						width: 100%;
						margin: 0;

						div {
							font-family: $georgia-font-stack;
							color: white;
							text-shadow: 1px 3px 3px #000, 1px 1px 0px rgba(0, 0, 0, 0.7)
						}

						.address {
							margin-top: -7px;
						}

						.listed-date {
							margin-top: -5px;	
						}

						.operation-type, .price {
							font-size: 32px;
						}

						.price {
							font-weight: 100;
						}

						.address, .listed-date {
							font-size: 18px;
						}

						> div:first-of-type {
							text-align: left;
						}

						> div:last-of-type {
							text-align: right;
						}
					}
				}
			}
		}

		.slider-row{
			.main-slider {	
			    overflow-x: hidden;	
			    margin: 60px 0;
			    background-color: white;

				@include navigation-arrows(
					40%,
					20px,
					8px,
					10
				);

				h2 {
					margin-bottom: 16px;
				}
		
				.slide {
					width: 100%;
					.background-image {
						width: 100%;
					}
					
					h3 {
						text-align: center;
						margin-top: 4px;
						font-family: $georgia-font-stack;
					}
				}

				img {
					width: 100%;
					height: auto;
					margin-right: 2px;

					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}

		.properties-map {
			.map-title {
				font-size: 24px;
				margin-bottom: 16px;	
			}
		}

		.by-state-row {
			margin-bottom: 40px;

			h2 {
				margin: 30px 0;
			}
			.wrapper {
				.main-intro {
					position: relative;
					.intro-text {
						position: absolute;
						height: 100%;
						width: 45%;
						right: 0;
						top: 0;
						@include opaque-background(#000, 0.6);
						color: white;
						text-align: center;

						.text-container{
							position: absolute;
							top: 50%;
							left: 50%;
							width: 85%;
							margin: 0 auto;
							transform: translate(-50%, -50%);

							h3 {
								font-family: $georgia-font-stack;
								font-size: 36px;
							}

							p {
								font-family: $arial-font-stack;
								font-size: 15px;
								line-height: 1.2;
							}

							.navigation-container {
								margin-top: 30px;

								a {
									display: block;
									width: 60%;
									margin: 20px auto 0 auto;
									background-color: transparent;
									border: 1px solid white;
									color: white;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $sm-screen-max-width){
	.first-wrapper.home {
		.logo-and-intro-row {
			display: block;
			h1 {
				font-size: 60px;
				line-height: 55px;
			}
			> div {
				width: 90%;
				margin: 0 5% 0 5%;
				/* margin auto doesn't work */

				input, button, select {
					height: 60px;
					font-size: 20px;
				}

				input, select {
					margin-bottom: 20px;
				}
			}
		}

		hr {
			display: none;
		}

		.main-slider {
			.background-image {
				min-height: 300px;
			}
		}	
	}
	
}

@media screen and (min-width: $md-screen-min-width) and (max-width: $md-screen-max-width){
	.first-wrapper.home {
		.logo-and-intro-row {
			h1 { 
				font-size: 70px; 
				line-height: 65px;
			}
		}

		.main-slider {
			.background-image {
				min-height: 450px;
			}
		}
	}
}

@media screen and (min-width: $lg-screen-min-width){
	.first-wrapper.home {
		.main-slider {
			.background-image {
				min-height: 600px;
			}
		}
	}
}

@media screen and (min-width: $md-screen-min-width) {
	.first-wrapper.home {
		.logo-and-intro-row {
			h1 {
				font-size: 85px;
			}

			> div {
				select, button, input {
					height: 50px;
				} 
			} 

			
		}
		.just-listed-row {
			.preview-container {
				&:nth-of-type(even){
					padding-left: 10px;
				}
				&:nth-of-type(odd){
					padding-right: 10px;
				}
				.listing-preview {
					border: 3px solid white;
					&:hover {
						border: 3px solid $main-red;
					}
				}
			}
		}
	}
}
