@mixin opaque-background($color, $opacity){
	background-color: rgba($color,$opacity);
}

@mixin navigation-arrows($top, $font-size, $padding, $zindex){
	.prev-arrow,
	.next-arrow {
		cursor: pointer;
		position: absolute;
		color: white;
		top: $top;
		z-index: $zindex;
		@include opaque-background(black, 0.33);
		padding: $padding;

		i {
			font-size: $font-size;
		}

		&:hover {
			@include opaque-background($main-red, 0.67);
		}
	}

	.prev-arrow {
		left: 0;
	}

	.next-arrow {
		right: 0;
	}
}

@mixin transition($duration){
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -o-transition: all $duration ease;
  -ms-transition: all $duration ease;
  transition: all $duration ease;	
}