#react-root {
	.top-bar {	
		position: relative;	
		z-index: 100;
		background: white;
		border-top: 4px solid #ccc;
		border-bottom: 1px solid #999;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0;

		.top-bar-left, .top-bar-right {
			ul {
				background-color: transparent;
				li {
					&.dropdownable, &.hoverable {
						a {
							color: #888;
							font-size: 16px;
							font-weight: 700;
						}
					}

					&.hoverable {
						a {
							padding-left: 18px;
							padding-right: 18px;
							padding-top: 19px;
							padding-bottom: 14px;
							height: 53px;
						}
					}
					
					a.home-link {
						color: #333;
						font-size: 18px;
						height: 38px;
						font-weight: 600;
					}

					&.dropdownable {
						.dropdown__content  { 
							background-color: white;
							width: 89px;
							padding-left: 10px;

							div {
								padding-top: 10px;
							}
						}
					}
				}
			}
		}

		.desktop-only {
			ul {
				li {

					&:hover {
						ul.sub-navigation {
							opacity: 1;
							top: 54px;
						}

						color: $main-red;
					}

					ul.sub-navigation {
						opacity: 0;
						position: absolute;
						background-color: #f7f7f8;
						left: 0;
						top: -230px;
						height: 220px;
						width: 100%;
						margin-left: 0;
						border-bottom: 4px solid #bbb;
						text-align: center;
						transition: opacity 0.8s ease;
						white-space: nowrap;
						overflow-x: scroll;
						overflow-y: hidden;

						li {
							list-style-type: none;
							display: inline-block;
							margin: 32px 24px;

							a {
								&:hover {
									img {
										border-color: $main-red;
									}

									span {
										color: $main-red;
									}
								}

								img {
									border: 2px solid #ccc;
									width: 222px;
									height: 125px;
								}

								span {
									display: block;
									margin-top: 2px;
									text-align: left;
									font-size: 20px;
									font-family: $georgia-font-stack;
									font-weight: 400;
									color: #999;
								}
							}
						}
					}
				}
			}
		}

		.mobile-only {
			ul {
				li {
					font-size: 26px;
					padding-top: 7px;
					color: #333;
				}
			}
		}

		.top-bar-right {
			ul {
								
				li {
					color: white;
					padding: 15px 18px;
					font-weight: 600;

					i {
						font-size: 20px;
						margin-right: 6px;
					}

					&.quote {
						background-color: $main-red;

						a {
							color: white;
						}
					}

					&.phone-number {
						background-color: #128c7e;
						font-size: 14px;
					}
				}	
			}
		}

		.fullscreen-navbar {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: -100%;
			display: block;

			@include transition(0.6s);

			&.engaged {
				left: 0;
			}

			ul {
				margin: 0;
				padding: 0;
				height: inherit;
				background: white;

				.back-button {
					position: absolute;
					right: 5%;
					top: 2%;
					font-size: 30px;
					padding: 20px;
					color: $main-light-blue;
					cursor: pointer;
				}

				li {
					display: table;
					border-bottom: 1px solid #ccc;
					width: 100%;
					padding-left: 8%;

					&.languages {
						a {
							padding: 0 18px;

							&:first-of-type {
								padding-left: 0;
							}
						}
					}

					&:last-of-type {
						border-bottom: none;
					}

					* {
						display: table-cell;
						vertical-align: middle;
						color: #333;
						font-size: 18px;						
						
						* {
							display: inline;
						}

						i {
							color: $main-light-blue;
							margin-right: 20px;
							font-size: 24px;
						}
					}
				}
			}

			&.level-zero {
				ul {
					li {
						height: 20%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $sm-screen-max-width){
	.top-bar {
		height: 60px;

		ul {
			li {
				font-size: 26px;
			}
		}
	}	
}
