.photo-thumbnail {
	position: relative;
	.remove-photo {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		background: rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		padding: 10px;

		i {
			font-size: 30px;
		}
	}
}
