#react-root {
	.first-wrapper {
		position: relative;
		
		.form-wrapper {
			* {
				text-align: center;
			}

			.marketing-header {
				margin-top: 60px;
				font-family: $georgia-font-stack;
				font-size: 35px;
				color: #333;
			}
			.explanation {
				color: #999;
				font-family: $arial-font-stack;
				font-size: 18px;
				font-weight: 100;
				line-height: 22px;
			}

			form {
				margin-top: 40px;
				.step-number {
					
					color: #999;
					border-radius: 50%;
					border: 1px solid #666;
					font-family: $georgia-font-stack;
					width: 80px; height: 80px;
					line-height: 75px;
					font-size: 50px;
					margin: 0 auto;
					margin-bottom: 40px;
				}

				textarea, input {
					text-align: left;
					color: #666;
				}

				textarea {
					height: 149px;
				}

				input[type='submit'] {
					margin-top: 20px;
					text-transform: uppercase;
					color: white;
					background-color: $main-light-blue;
					padding: 16px 60px;
				}
			}
		}
	}

}

.quotes-container {
	.quote {
		border: 1px solid #ccc;
		padding-top: 20px;
		padding-bottom: 20px;

		&:nth-of-type(odd) {
			background-color: #f0f0f0;
		}
		&:nth-of-type(even) {
			background-color: white;
		}	
	}
}