.services-container {
	margin-top: 30px;

  h2 {
		color: $main-light-blue;
		font-size: 30px;
	}	

	h1 {
		color: $main-dark-blue;
		font-family: "Roboto";
		font-weight: 300;
		font-size: 54px;
	}	
}

@media screen and (max-width: $sm-screen-max-width){
	.services-container {
		padding: 0 10px;
	}
}
