$main-red: #cf1f3c;
$main-dark-blue: #181a4d;
$main-light-blue: #1d6ab3;

$hover-index-color: #ecfbff;
$navigation-icons-color: #008c99;

$georgia-font-stack: Georgia,serif!important;
$arial-font-stack: Arial,Helvetica,sans-serif!important;
$roboto-font-stack: 'Roboto', sans-serif !important;

$sm-screen-max-width: 39.9375em;
$md-screen-min-width: 40em;
$md-screen-max-width: 63.9375em;
$lg-screen-min-width: 64em;