html
	head
		title= metaTitle
		meta(name='google-site-verification', content='vEgABn47Ji3RZ08vxoZ89eTK98Wlq413YkhAZRkeOjc')
		meta(name='environment', content=env)
		meta(name='status', content=status)
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='icon', href='http://i.imgur.com/SP2HjuZ.png')
		meta(name='description', content=metaDescription)
		meta(name='twitter:card', content='summary')
		meta(name='twitter:site', content='@liupropiedades')
		meta(name='twitter:creator', content='@liupropiedades')

		meta(property='og:title', content=metaTitle)
		meta(property='og:type', content='website')
		meta(property='og:url', content=pathToResource)
		meta(property='og:image', content=metaImage)
		meta(property='og:description', content=metaDescription)

		link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css')
		link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css')
		link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href=cssbundle)

body
	#react-root
	if env === "development"
		script(src='http://localhost:35729/livereload.js')
	script(src=reactjs, type='text/javascript')
