#react-root {
	.first-wrapper {
		.properties-content {
			.index-title {
				margin-top: 25px;
			}
			.search-criteria {
				margin-top: 20px;
				font-family: $arial-font-stack; 
				color: #666;
				.header {
					text-transform: uppercase;
					font-weight: 700;
					font-size: 12px;	
				}
				.list-of-criteria {
					font-size: 13px;
				}
			}
			.properties-list {
				margin-top: 30px;
				margin-bottom: 30px;
				.property {
					min-height: 240px;
					padding-top: 18px;

					&:nth-of-type(odd) {
						background-color: #f0f0f0;
					}
					&:nth-of-type(even) {
						background-color: white;
					}

					&:hover {
						background-color: $hover-index-color;
					}

					.brief-description {
						.title {
							font-size: 18px;

							a {
								display: block;
							}
						}
						.approximate-location {
							font-size: 12px;
							margin-top: -4px;
							color: #333;
						}

						.price {
							font-size: 32px;
							margin: -5px 0;

							.approx {
								font-size: 26px;
							}
						}

						.date {
							font-size: 13px;
						}

						.title, 
						.approximate-location {
							font-family: $arial-font-stack;
						}

						.space-configuration,
						.number-of-units {
							margin-top: 40px;
						}
					}

					.slider-container {
						
						padding: 2px;
						
						@include navigation-arrows(
							43%,
							18px,
							6px,
							1
						);	

						.slide,
						.static-slide {
							background-color: white;
							border: 1px solid #ccc;
							.background-image{
								height: 200px;
							}
						}

						.static-slide {
							.background-image {
								display: block;
								margin: 0 auto;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $sm-screen-max-width){
	.properties-content {
		padding: 0;
		header {
			padding: 0 10px;
		}
		.property {
			padding-left: 0;
			padding-bottom: 18px;
		}
	}
}

@media screen and (min-width: $md-screen-min-width){
	.properties-content {
		.property {
			/* for some reason the rule is overwritten*/
			padding-left: 18px !important;
		}
	}	
}
