#react-root {
	.first-wrapper {

		.thumbnails-container {
			width: 100%;
			overflow-x: scroll;
			white-space: nowrap;

			.preview {
				display: inline-block;

				position: relative;

				button {
					position: absolute;
					top: 0;
					left: 0;
				}
				
				* {
					display: block;
				}
				img {
					width: 300px;
					height: 300px;
				}
			}
		}
	}
}