#react-root {
	.first-wrapper {
		position: relative;
		

		.fullscreen-slider-container {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1000;
			background-color: #646464;
			height: 100%;
			width: 100%;

			.slide {
				.background-image.portrait {
					left: 0;
					right: 0;
					margin: 0 auto;
					width: auto;
					//height dynamically adjusted				
				}

				.background-image.landscape {
					width: 100%;
					height: auto;
				}

			}

			.fullscreen-close-btn {
				position: absolute;
				right: 3%;
				top: 3%;
				z-index: 10;
				font-size: 30px;
				font-weight: 600;
				text-transform: uppercase;
				color: white;
			}

			@include navigation-arrows(
				55%, 
				24px,
				8px,
				10
			);

			
		}
		.property-content {
			margin-bottom: 60px;

			.page-main-header {
				margin-top: 40px;
			}
			.approximate-location {
				margin-top: -10px;
				color: $main-dark-blue;
			}

			.approximate-location {
				font-weight: 300;
			}

			.information-container {
				margin: 30px 0;
				background-color: #f0f0f0;
				

				.slider-container {
					padding-left: 0;
					padding-right: 0;
					position: relative;
					min-height: 320px;

					.slide {
						.background-image {
							height: 320px;
							width: 100%;
						}
					}	

					@include navigation-arrows(
						50%, 
						18px,
						6px,
						1
					);

					.prev-arrow,
					.next-arrow {
						transform: translateY(-50%);
					}
				}

				.basic-info {
					position: relative;
					color: #333;
					padding-top: 10px;
					font-family: $arial-font-stack;

					.price {
						font-size: 30px;

						.approx {
							font-size: 22px;
						}
					}

					.space-configuration, 
					.usable-surface, 
					.rentable-surface,
					.listed-date,
					.parking-spots,
					.storage-rooms,
					.updated-date {
						font-family: $arial-font-stack;
						font-size: 14px;
					}

					.date {
						margin-top: 20px;
						font-size: 13px;
					}
				}

				.sub-navigation {
					background-color: white;
					padding-top: 10px;

					a {
						margin-right: 20px;
						font-size: 18px;
						color: $navigation-icons-color;

						i {
							margin-right: 5px;
						}
					}
				}

				.long-description {
					font-family: $arial-font-stack;
					font-size: 14px;
					background-color: white;
					padding: 20px 10px 0 10px;
					color: #333;
				}

				.map-container {
					width: 100%;
					height: auto;
					padding: 20px 10px;

					#google-map {
						width: 100%;
						height: 300px;
					}
				}

				.video-container {
					margin: 20px 0;
					position: relative;
					width: 100%;
					height: 0;
					padding-bottom: 56.25%;

					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%; height: 100%;
					}
				}

				.pros-container {
					background-color: white;
					padding-bottom: 20px;
					.category-title {
						color: $main-red;
						font-size: 22px;
						margin: 8px auto;
					}

					ul {
						color: #333;
						list-style-type: none;
						margin: 0;

						li {
							i {
								font-size: 11px;
								margin-right: 6px;
							}
						}
					}

				}
			}
		}	
	}
}

@media screen and (max-width: $sm-screen-max-width){
	.property-content {
		padding: 0;
		header {
			padding: 0 10px;
		}
		.basic-info {
			padding-bottom: 10px;
		}
	}
}
